body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.remove_button {
  cursor: pointer;
  color: "red";
}

.information_article {
  display: flex;
  flex-direction: column;
}

.see_more {
  color: blue;
  cursor: pointer;
}

.container_mark_read {
  background-color: green;
  cursor: pointer;
}
